@model Language

<form asp-controller="Language" asp-action="Create" method="post">
    <label>Add Language</label>
    <label asp-for="LanguageName">Language</label>
    <input asp-for="LanguageName" type="text" />
    <input type="submit" value="Create" />
</form>