@model IEnumerable<Person>

<h1>People Index</h1>
<br />
<a asp-controller="People" asp-action="Create">Add Person</a>
<br />
<form asp-controller="People" asp-action="Index" method="post">
    <Label>Search:</Label>
    <input name="search" type="text" />
    <input type="submit" value="Search" /><br />
</form>
<br />

<div class="container">
    @foreach (var item in Model)
    {
        <partial name="_PersonCard" model="item" />
    }
</div>