@model PeopleViewModel

<h1>People Index</h1>
<form asp-controller="Home" asp-action="Index" method="post">
    <input type="search" name="search" value="Search..." />
    <input type="submit" value="Search" /><br />
</form>
<form asp-controller="Home" asp-action="Index" method="post">
    <label>Add Person</label><br />
    <input type="number" name="id" value="Id" /><br />
    <input type="text" name="name" value="Name" /><br />
    <input type="text" name="phoneNumber" value="Phone" /><br />
    <input type="text" name="city" value="City" /><br />
    <input type="submit" value="Add Person" />
</form>
<br />
<br />
<br />
<table  cellpadding=5>
    <thead colspan="3">Index of People</thead>
@foreach (var person in Model.Person)
{
    <partial name="_PersonCard" model="person" />
}
</table>