@model IEnumerable<City>

<h1>Cities</h1>
<br />
<a asp-controller="City" asp-action="Create">Add City</a>
<br />

<div class="container">
    @foreach (var item in Model)
    {
        <partial name="_CityCard" model="item" />
    }
</div>