<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
</head>
<body class="bootstrap-dark">
    <nav >
        <ul class="nav justify-content-center">
            <partial name="_LoginPartial" />
            <li class="nav-item">
                <a class="nav-link" asp-controller="People" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="City" asp-action="Cities">Cities</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Country" asp-action="Countries">Countries</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Language" asp-action="Languages">Languages</a>
            </li>
        </ul>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
    @RenderSection("Scripts", required:false)
</body>

</html>
