@model Person

<tr>
        <th>@Model.Id</th>
        <th>@Model.Name</th>
        <th>@Model.City</th>
        <th>@Model.PhoneNumber</th>
        <form asp-controller="Home" asp-action="Index" method="post">
            <input type="submit" name="Id" value="Delete" /></form>
</tr>